<% content_for :title do %><%= I18n.t('ecm.contact.request.index.page_title') %><% end %>
<% content_for :meta_description do %><%= I18n.t('ecm.contact.request.index.meta_description') %><% end %>
<h1><%= Ecm::Contact::Request.model_name.human %></h1>

<%= Ecm::Contact::Configuration.additional_contact_information.call(self) if Ecm::Contact::Configuration.additional_contact_information.respond_to?(:call) %>

<%= render 'form' %>

<div class="well page-actions">
  <%= link_to t('ecm.contact.views.actions.back'), main_app.root_path, class: 'btn btn-default' %>
</div>
